.H-Home {
  display: grid;
  place-items: center;
}

#h_id_header {
  display: grid;
  place-items: center;
  top: 1;
}

.h_id_video {
  grid-column: 1 / 4;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}