// Default No Padding
* {
  margin: 0;
  padding: 0;
  }

// Body Styling
body {
  background-image: url("../images/techwall01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

