// GK Logo Component ID's - GK-LOGO.jsx

#GK-IG01 {
    margin-top: 1em;
    margin-left: 5em;
    padding: .5em;
    height: 5em;
}

// GK Navbar Component ID's - GK_NAV.jsx

#GK-IG01:hover {
    cursor: pointer;
    height: 5.05em;
}

#GK-NM01 {
    margin-top: 2em;
    width: 55em;
    height: 3em;
}

#GKN-LINK {
    height: 2.8em;
    padding: .2em;
    margin: -.5em 0em 0em 2em;
}

// GK Main Content Component ID's

#GK-CT01 {
    background-color: rgba(196, 0, 0, 1);
    width: 80em;
}